@{
    Layout = "_GisLayout";
    ViewData["Title"] = "云南省设施农用地备案监管系统";
}

<link rel="stylesheet" href="~/css/gis/index.css" />
<link rel="stylesheet" href="~/css/gis/head.css" />
<link rel="stylesheet" href="~/css/gis/timeline.css" />
<script type="text/javascript">
    require(["dojo/parser", 'dojo/dom', 'atide/gis/main', 'atide/myModule', "dojox/layout/FloatingPane", "dijit/form/Button", "dijit/layout/ContentPane", "dijit/layout/BorderContainer", "dijit/layout/TabContainer", "dijit/layout/AccordionContainer", "dijit/layout/AccordionPane"]);
</script>

<script>
    var g_main = null;
    dojo.ready(function () {
        g_main = new atide.gis.main();


        $('.course_nr2 li').hover(function () {
            $(this).find('.shiji').slideDown(600);
        }, function () {
            $(this).find('.shiji').slideUp(400);
        });

        $('.course_nr2 li').click(function () {
            alert($(this).attr("content"));
        });

        $("#myTimeline").css('margin-left', $("#map").width() / 2 - 400);
        //var ev = [{

        //    id: 1,

        //    name: "(2015,0,0)",

        //    on: new Date(2015,0,0)

        //}, {

        //    id: 11,

        //    name: "(2014, 2, 17)",

        //    on: new Date(2014, 2, 17)

        //}]

        //var tl = $('#myTimeline').jqtimeline({

        //    events: ev,

        //    numYears: 3,
        //    showToolTip: false,

        //    startYear: 2014,

        //    click: function (e, event) {

        //        alert(event.name);

        //    }

        //});

    });
</script>

<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false,liveSplitters:false" id="borderContainer">
    <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top',splitter:false" style="height:60px;">
        <div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false,liveSplitters:false" style="background-color: #98d361;border-color: transparent;">
            <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left',splitter:false" style="width:500px;line-height:60px;font-family: 'Dosis';font-size: 30px;font-weight: 600;color: #fff;margin-left:10px;text-transform: uppercase;">
                云南省设施农用地备案监管系统
            </div>
            @*<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center',splitter:false">
                    <nav class="nav right">
                        <ul>
                            <li><a href="#">HOME</a></li>

                            <li><a href="#">客户服务</a></li>

                            <li><a href="#">产品展示</a></li>

                            <li><a href="#">经典案例</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ul>

                    </nav>

                </div>*@
        </div>
    </div>
    @*<div id="tree" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left',splitter:true" style="width:300px;"></div>*@
    <div id="map" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center',splitter:false" style="background-color:red;">
        
        <div id="floatPane" class="floatPane" style="display:none;">
            @*<div id="tree" style="width:100%;height:100%;background-color:antiquewhite;display:none;"></div>*@
            <div id="treediv" data-dojo-type="dijit/TitlePane" data-dojo-props="title: '行政区划'" style="display:none;">
                <div id="tree" style="width:100%;height:500px;"></div>
            </div>
            @*<div id="result" style="width:100%;height:100%;display:none;background-color:azure;"></div>*@
            <div id="resultdiv" data-dojo-type="dijit/TitlePane" data-dojo-props="title: '统计视图'" style="display:none;">
                <div id="result" style="width:100%;height:500px;">12345555</div>
            </div>
        </div>

        @*工具栏*@
        <div>
            <div data-toolbar="user-options" class="btn-toolbar  tool-common"><i class="fa fa-cog"></i></div>
            <div id="tool-result" data-toolbar="user-options" class="btn-toolbar  tool-result"><i class="fa fa-bars"></i></div>
            <div id="tool-xzqtree" data-toolbar="user-options" class="btn-toolbar  tool-xzqtree"><i class="fa fa-bar-chart"></i></div>
        </div>
        <div id="tool-common" class="toolbar-icons hidden">
            <a id="menu-bars" href="javascript:void(0);"><i class="fa fa-search-plus"></i></a>
            <a id="menu-bar-chart" href="javascript:void(0);"><i class="fa fa-search-minus"></i></a>
            <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-hand-pointer-o"></i></a>
            <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-arrow-left"></i></a>
            <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-arrow-right"></i></a>
            <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-arrows-alt"></i></a>
            <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-trash"></i></a>
            <a id="menu-window-close-o" href="javascript:void(0);"><i class="fa fa-window-close-o"></i></a>
        </div>

        @*时间轴*@
        @*<div id="myTimelinediv" style="position:absolute; bottom:10px;  width:800px;font-size:20px; z-index:999;">
                        <div id="myTimeline"></div>
            </div>*@
        <div id="myTimeline" class="clearfix course_nr" style="position:absolute; bottom:20px; margin-left:20%;   width:900px; z-index:999;background-color:aliceblue;">
            <ul class="course_nr2">
                <li content="2014">
                    2014
                </li>
                <li content="2015">
                    2015
                    <div class="shiji">
                        <h1 >2015</h1>
                        @*<p>2015</p>*@
                    </div>
                </li>
                <li content="2016">
                    2016
                    <div class="shiji">
                        <h1>2016</h1>
                    </div>
                </li>
                <li content="2017">
                    2017
                    <div class="shiji">
                        <h1>2017</h1>
                    </div>
                </li>
                <li content="2018">
                    2018
                </li>
            </ul>
        </div>

    </div>

</div>




