<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>@ViewData["Title"]</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19/esri/css/esri.css">
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19/dijit/themes/tundra/tundra.css">
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19/dojox/layout/resources/FloatingPane.css">
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19/dojox/layout/resources/ResizeHandle.css">
        <link href="~/lib/font-awesome-4.7.0 1/css/font-awesome.css" rel="stylesheet" media="screen"> 
        @*<link rel="stylesheet" href="~/lib/timeline/css/timeline.css" />*@
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19compact/esri/css/esri.css">
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19compact/dijit/themes/tundra/tundra.css">
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19compact/dojox/layout/resources/FloatingPane.css">
        <link rel="stylesheet" href="~/lib/arcgis3.19/3.19compact/dojox/layout/resources/ResizeHandle.css">
        <link href="~/lib/font-awesome-4.7.0 1/css/font-awesome.min.css" rel="stylesheet" media="screen">
        @*<link rel="stylesheet" href="~/lib/timeline/css/timeline.min.css" />*@
    </environment>

    <link href="~/lib/jquery-toolbar20160918/css/jquery.toolbar.css" rel="stylesheet" />
    <link href="~/lib/jqtimeline/css/jquery.jqtimeline.css" rel="stylesheet" />

    <script>
			var dojoConfig = {
			parseOnLoad: true ,
            async: true,
            packages: [{
                name: "atide",
                location: location.pathname.replace(/\/[^/]*$/, '') + '/js'
            }]
            };
        var baseUrl = '@Url.Content("~/")'; //全局的URl，解决iis中路径的问题
    </script>
    <environment names="Development">
        <script src="~/lib/arcgis3.19/3.19/init.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/arcgis3.19/3.19compact/init.js"></script>
    </environment>
</head>

<body  class="tundra">
        @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>    
        <script src="~/lib/jquery-toolbar20160918/js/jquery.toolbar.js"></script>
        <script src="~/lib/timeline/js/timeline.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>   
        <script src="~/lib/jquery-toolbar20160918/js/jquery.toolbar.min.js"></script>
        <script src="~/lib/timeline/js/timeline.min.js"></script>
    </environment>
    <script src="~/lib/jqtimeline/js/jquery.jqtimeline.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
